.button {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: var(--accent);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all 0.15s ease;
	border: none;
	padding: 0.5rem 0.75rem;
	grid-auto-flow: column;
	grid-gap: 0.5rem;
	font-size: 1rem;
	color: var(--contrast-text);
	text-align: center;
	height: 2.5rem;
	text-decoration: none;
	font-weight: bold;
	position: relative;

	&:active {
		background-color: var(--disabled-color);
	}

	&:hover {
		background-color: var(--accent-hover);
	}
}

.loading::after {
	content: '•';
	animation: loader 1.5s ease infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.75rem;
}

.disabled {
	opacity: 0.6;
	pointer-events: none;
}

.active {
	color: var(--accent) !important;
}

.square {
	height: 2.5rem;
	width: 2.5rem;
	padding: 0;
}

.simple {
	background-color: transparent;
	outline: 0 solid gray;
	color: var(--primary-text);
	padding: 0.25rem;
	height: auto;
	transition: all 0.1s ease;

	&:active {
		outline: 1px solid;
		color: var(--accent-hover);
		background-color: transparent;
		outline-color: var(--disabled-color);
	}

	&:hover {
		outline: 1px solid;
		color: var(--accent-hover);
		background-color: transparent;
		outline-color: var(--accent-hover);
	}
}

@keyframes loader {
	0% {
		content: '•';
		opacity: 0.5;
	}
	25% {
		content: '• • •';
		opacity: 1;
	}
	50% {
		content: '• • • • •';
		opacity: 0.75;
	}
	75% {
		content: '• • •';
		opacity: 0.5;
	}
	95% {
		content: '';
		opacity: 0.25;
	}
}
