.container {
	display: grid;
	grid-gap: 1rem;
	width: 20rem;
	padding: 1rem;
}

.buttonList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	justify-items: stretch;
	padding: 0.25rem;
}

.display {
	border-radius: var(--border-radius);
	background-color: var(--surface);
	padding: 1rem;
	font-size: 1rem;
	height: 3rem;
	width: 100%;
}

.highlight {
	color: var(--accent);
	font-weight: bold;
}

.buttonDisabled {
	pointer-events: none;
	opacity: 0.5;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 0.25rem solid var(--surface);
	outline-offset: -0.1rem;
	border: none;
	background-color: transparent;
	padding: 0.5rem 2rem;
	border-radius: var(--border-radius);
	font-weight: bold;
	font-family: var(--font);
	transition: all 0.15s ease;
	font-size: 1rem;

	&:hover:not(.buttonDisabled) {
		cursor: pointer;
		color: var(--accent);
	}

	&:active:not(.buttonDisabled) {
		background-color: var(--accent);
		color: var(--white);
	}
}
