.home {
	color: var(--primary-text);
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: column;
	align-items: center;
}

.home h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.linksContainer {
	display: grid;
	grid-gap: 1rem;
	justify-content: center;
}

.link {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	grid-gap: 0.25rem;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem 0.75rem;
	background-color: var(--accent);
	border-radius: var(--border-radius);
	border: none;
	transition: background 0.15s ease;
	color: var(--contrast-text);
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;

	&:hover {
		background-color: var(--accent-hover);
	}

	&:active {
		background-color: var(--disabled-color);
	}
}
