.sidebar {
	display: grid;
	grid-gap: 0.5rem;
	padding: 0.5rem;
	height: 100%;
	overflow: hidden;
	align-content: start;
}

.nav {
	color: var(--primary-text);
	display: grid;
	grid-gap: 1rem;
}

.linksContainer {
	display: grid;
	grid-gap: 1rem;
	overflow: auto;
	padding: 0.5rem;
}

.linkText {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.link {
	display: grid;
	justify-content: start;
	align-items: center;
	cursor: pointer;
	grid-auto-flow: column;
	grid-gap: 0.5rem;
	height: 2rem;
	transition: all 0.15s ease;
	color: var(--primary-text);
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		height: 2px;
		background-color: var(--secondary-background);
		width: 100%;
		bottom: -1px;
	}

	&:hover {
		color: var(--accent-hover);

		&::after {
			background-color: var(--accent-hover);
		}
	}

	&:active {
		color: var(--accent);

		&::after {
			background-color: var(--accent);
		}
	}
}

@media (width < 700px) {
	.link {
		padding: 0.25rem;
		font-size: 0.75rem;
	}
}

.activeLink {
	color: var(--accent);
	opacity: 0.66;

	&::after {
		background-color: var(--accent);
	}
}

.sidebarWrapper {
	display: grid;
	grid-gap: 0.5rem;
	height: 100%;
	overflow: auto;
}
