.container {
	display: grid;
	height: 100%;
	grid-gap: 0.5rem;
	padding: 0.5rem;
	overflow: hidden;
	width: 36rem;

	@media (width < 900px) {
		width: 28rem;
	}

	@media (width < 640px) {
		width: 20rem;
	}
}

.todoBody {
	grid-template-columns: auto min-content 1fr auto;
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: column;
	justify-items: start;
	align-items: center;
	justify-content: start;
}
