.wrapper {
	display: grid;
	grid-gap: 1rem;
	width: 100%;
	grid-template-areas: 'title controls' 'desc controls';
	align-items: center;
	grid-template-columns: 1fr auto;
}

.title {
	grid-area: title;
}

.desc {
	grid-area: desc;
}

.controls {
	grid-area: controls;
}
